# Dependências
node_modules/
package-lock.json

# Variáveis de ambiente
.env
.env.local

# Compilados
dist/
build/
.vite/

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log
npm-debug.log*